<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container" id="link_container">
                <div class="row" ><a asp-page="/Account/Login"> Login</a></div>
                <div class="row"><a asp-page="/Account/Register"> Register</a></div>
                <div class="row"><a asp-page="/Account/AdminDash">Dashboard</a></div>
            </div>

        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
